<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">STARTER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" mat-button routerLink="/">PROJECTS</a>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link" mat-button routerLink="/create">CREATE</a>
      </li>
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link" mat-button routerLink="/login">LOGIN</a>
      </li>
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link" mat-button routerLink="/signup">SIGN UP</a>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <button class="nav-link" mat-button (click)="onLogout()">LOG OUT</button>
      </li>
    </ul>
  </div>
</nav>
